<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nominapp{% endblock %} - CHVS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block body %}
    <div class="{% block container_class %}container{% endblock %}">
        {% block content %}{% endblock %}

        <footer class="footer">
            Sistema Procesador de Huellero v1.0 — Corporación Hacia un Valle Solidario
        </footer>
    </div>
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>
