Django>=4.2,<5.0
pandas>=2.0.0
openpyxl>=3.1.0
python-dotenv>=1.0.0
xlrd>=2.0.1
XlsxWriter>=3.1.9
python-dateutil>=2.8.2

# Producción
gunicorn>=21.2.0
psycopg2-binary>=2.9.0
dj-database-url>=2.1.0
whitenoise>=6.6.0

# Google Sheets API
gspread>=5.12.0
google-auth>=2.23.0
